<!--
/**
 * Copyright © 2018 Studio Raz. All rights reserved.
 * For more information contact us at dev@studioraz.co.il
 */
-->

<div class="addtocart-confirm-container"
     data-bind="afterRender: setModalElement, blockLoader: isLoading"
     style="display: none">
    <p class="message success">
        <span data-bind="html: successMessage"></span>
    </p>
    <div class="addtocart-confirm-product-image-container" data-bind="html: productImageHtml"></div>
    <div class="addtocart-confirm-product-name" data-bind="text: productName"></div>
    <div class="addtocart-confirm-product-sku" data-bind="text: productSku"></div>
</div>
